{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Hero image-->
    <div id="hero"></div>
     <!---welcome section-->
    <div class="pad">
        <div class="row align-items-center py-7">
            <div class="col-12 col-md-6">
                <h2 class="display-5">Welcome to Vibrant Teas</h2>
                <p class="my-4">Vibrant Teas is a family business, established in 2020, located in Ireland. We are passionate about tea. We supply high quality, loose leaf tea that is organically sourced. We have a range of different loose teas such as Green tea, Herbal tea and Black tea sourced from different countries such as India, Kenya and China. All our teas come from single farms and has a description of it’s producer so you know where your tea is coming from. </p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img class="img-fluid" src="{{ MEDIA_URL }}tea-stall.jpg" alt="The Chocolate Factory team" width="700" height="450">
            </div>
        </div>
    </div>


    
    <!-- <header class="hero">
    </header>
    
    <div class="row align-items-center py-7">
        <div class="col-12 col-md-6 p-5 order-lg-first">
            <h2 class="display-5">Because <span class="fw-bold">quality</span> matters</h2>
            <p class="my-4">If chocolate is your guilty pleasure, why would you want to compromise on the taste and flavour? We have always prided ourselves on making extraordinary chocolate that tastes amazing. </p>
            <p class="my-4">We also know that there are major problems of poverty, slavery and child labour in some cocoa-producing countries and that we have a massive responsibility to ensure we don't turn a blind eye. Ethical cocoa sourcing has always been a core philosophy of ours.</p>
        </div>
        <div class="col-12 col-md-6 order-first d-flex justify-content-center">
            <img class="img-fluid" src="{{ MEDIA_URL }}tea-stall.jpg" alt="Vibrant Teas" width="700" height="450">
        </div>
    </div> -->

    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Welcome to the wonderful world of teas
                </h1>
            </div>
        </div>
    </div> -->
{% endblock %}