<footer class="footer mt-auto py-3 bright-bg">
    <div class="row align-middle">
        <div class="col-12 col-md-4 p-5">
            <h3 class="text-light mb-4">Contact Us</h3>
            <ul class="text-light nav flex-column">
                <li class>
                   <p><i class="fa-solid fa-envelope"></i> info@vibrantteas.ie</p>
                </li>
                <li>
                    <p><i class="fa-solid fa-phone"></i> 020 917 7847</p>
                </li>
            </ul>
        </div>
        <!-- Keep in touch section -->
        <div class="col-12 col-md-4 p-5">
            <div>
                <h3 class="text-light mb-4">Follow us on our Socials!</h3>
                <ul class=" list-unstyled social-networks">
                    <li class="list-inline-item">
                        <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our twitter page (opens in a new tab)"><i class="fa-brands fa-twitter-square"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit our youtube page (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Footer navigation -->
        <div class="col-12 col-md-4 p-5">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link ps-0 text-light text-uppercase">Shop Products</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'producers' %}" class="nav-link ps-0 text-light text-uppercase">Our Producers</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ps-0 text-light text-uppercase">Sitemap</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Copyright section -->
    <div class="row disclaimer">
        <div class="col-12">
            <p class="small text-light">For Educational Purposes</p>
        </div>
    </div>
</footer>