<!-- Footer -->
<footer class="text-center text-lg-start bright-bg">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="social-networks">
        <a class="me-4 text-reset" href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our facebook page (opens in a new tab)">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="me-4 text-reset" href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our twitter page (opens in a new tab)">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="me-4 text-reset" href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit our youtube page (opens in a new tab)">
            <i class="fab fa-youtube"></i>
          </a>
          <a class="me-4 text-reset" href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our instagram page (opens in a new tab)">
            <i class="fab fa-instagram"></i>
          </a>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <!-- <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"> -->
            <!-- Content -->
            <!-- <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Vibrant Teas
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div> -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Herbal Tea</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Green Tea</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Black Tea</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Tea Strainers</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Teaware</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="{% url 'producers' %}" class="text-reset">Producers</a>
            </p>
            <p>
              <a href="{% url 'contact' %}" class="text-reset">Contact Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Site Map</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Ireland</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@vibrantteas.ie
            </p>
            <p><i class="fas fa-phone me-3"></i> 020 917 7847</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://github.com/Simiine">Github.com</a>
      <div class="row disclaimer">
        <div class="col-12">
            <p class="small text-light">For Educational Purposes</p>
        </div>
    </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->