<div class="collapse navbar-collapse" id="main-nav">
    <!-- Main nav -->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All products -->
        <li class="nav-item">
            <a href="{% url 'products' %}" class="nav-link logo-font font-weight-bold text-black mr-5">All Products</a>
        </li>

        <!-- Teas -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tea-link">
                <a href="{% url 'products' %}?category=teas&subcategory=herbal_tea" class="dropdown-item">Herbal Tea</a>
                <a href="{% url 'products' %}?category=teas&subcategory=green_tea" class="dropdown-item">Green Tea</a>
                <a href="{% url 'products' %}?category=teas&subcategory=black_tea" class="dropdown-item">Black Tea</a>
            </div>
        </li>

        <!-- Accessories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=accessories&subcategory=tea_strainers" class="dropdown-item">Tea Strainers</a>
                <a href="{% url 'products' %}?category=accessories&subcategory=teaware" class="dropdown-item">Teaware</a>
            </div>
        </li>

        <!-- Producers -->
        <li class="nav-item">
            <a href="{% url 'producers' %}" class="nav-link logo-font font-weight-bold text-black mr-5">Producers</a>
        </li>

        <!-- Contact Form -->
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link logo-font font-weight-bold text-black mr-5">Contact</a>
        </li>
    </ul>
</div>